
/* -------sectionHome-------- */

.bg-website{
    height: 70vh; 
    width: 100%; 
    object-fit: cover; 
    object-position: center center; 
    opacity: 1;
}

.video-container {
    position: relative;
  }

.video-container h2 {
    position: absolute;
    top: 300px;
    left: 15px;
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    font-family: math;
}
@media screen and (max-width: 332px) {
    .video-container h2 {
        font-size: 14px;
    }
}
.video-container p {
    position: absolute;
    top: 370px;
    left: 15px;
    color: #ffffff;
    font-size: 25px;
    font-family: cursive;
}
@media screen and (max-width: 332px) {
    .video-container p {
        top: 350px;
        font-size: 16px;
    }
}
.website-heading {
    /* padding: 15px; */
    transform: translateX(-150%);
    animation: about-img-animation 2s ease-in-out forwards;
}
  
@keyframes website-heading-animation {
    100% {
      transform: translate(0);
    }
}

.login-logo{
    padding-left: 5px;
}




.page-website .dropdown .btn{
    --bs-btn-color:#6c757d(!important);
    --bs-btn-bg:#fff (!important);
    --bs-btn-border-color:#fff(!important);
    --bs-btn-hover-border-color:#fff (!important);
    --bs-btn-border-width:0px (!important);
    color: #495057b0;
    padding-top: 8px;
    text-align: left;
}
.page-website .dropdown .btn:hover{
    box-shadow: 0 0 0 0.2rem #ffffff;
    border-color: transparent;
}
.page-website .dropdown .dropdown-menu-dark{
    --bs-dropdown-color: #fff (!important);
    --bs-dropdown-bg: #fff (!important);
    --bs-dropdown-border-color: #ced4da (!important);
    --bs-dropdown-box-shadow: 0 0 0 0.2rem #ffffff(!important);
    --bs-dropdown-link-color: #212529 (!important);
    --bs-dropdown-link-hover-color: #212529 (!important);
    --bs-dropdown-divider-bg: #dee2e6 (!important);
    --bs-dropdown-link-hover-bg: rgba(255, 255, 255, 0.15) (!important);
    --bs-dropdown-link-active-color: #fff (!important);
    --bs-dropdown-link-active-bg: #fff (!important);
    --bs-dropdown-link-disabled-color: #fff (!important);
    --bs-dropdown-header-color: #fff (!important);
    background-color: white;
    border-color: transparent;
}

.dropdown-divider{
    border: 1.5px solid #e9ecef;
}



.page-website-items{
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color:#ffffff;
}
.page-website a{
    position: relative;
    display: block;
    transition: .5s;
}
.page-website a::after{
    position: absolute;
    content: "";
    width: 100%;
    top: 100%;
    left: 0;
    transition: transform .5s;
    transform: scaleX(0);
    transform-origin: right;
}
.page-website a:hover{
    border-bottom-color: rgb(177, 163, 236);
}
.page-website a.active{
    border-bottom-color: rgb(177, 163, 236);
}
.page-website a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}


























/* ---------------homeabout.html------------------ */



.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eef2f6;
    padding-bottom: 180px;
}

.flower-design{
    width: 100%;
    height: 50px;
}
.about-heading{
    text-align: center;
    font-family: "roboto";
    font-size: revert;
}
.about-website-descriptive{
    width: 100%;
    font-family: "FedraSansStd-book",sans-serif;
    font-size: 1.125em;
    font-weight: normal;
    letter-spacing: .2px;
    line-height: 1.67;
}
.about-descriptive-container{
    position: relative;
    height: 50vh;
    
}
.about-descriptive-container p{
    background-color: #fff;
    width: 100%;
    padding: 40px;
}
@media screen and (max-width:499px){
    .about-descriptive-container p{
        position: absolute;
        top: -223px;
        left: 41px;
        background-color: #fff;
        width: 80%;
        padding: 25px;
        overflow-y: scroll;
        height: 50vh;
        font-size: 15px;
    }
}
@media screen and (min-width:500px){
    .about-descriptive-container p{
        position: absolute;
        top: -223px;
        left: 54px;
        background-color: #fff;
        width: 80%;
        padding: 40px;
        overflow-y: scroll;
        height: 50vh;
    }
}
@media screen and (min-width:768px){
    .about-descriptive-container p{
        position: absolute;
        top: -223px;
        left: 55px;
        background-color: #fff;
        width: 84%;
        padding: 40px;
        overflow-y: scroll;
        height: 50vh;
    }
}
@media screen and (min-width:992px){
    .about-descriptive-container p{
        position: absolute;
        top: -223px;
        left: 75px;
        background-color: #fff;
        width: 85%;
        padding: 40px;
        overflow-y: scroll;
        height: 50vh;
    }
}
@media screen and (min-width:1200px){
    .about-descriptive-container p{
        position: absolute;
        top: -223px;
        left: 82px;
        background-color: #fff;
        width: 85%;
        padding: 40px;
        overflow-y: scroll;
        height: 50vh;
    }
}

.about-descriptive-container ::-webkit-scrollbar {
    width: 6px;
}
  
.about-descriptive-container ::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
  
.about-descriptive-container ::-webkit-scrollbar-thumb {
    background: #888; 
}
  
.about-descriptive-container ::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.customer-feedback-image{
    height: 40vh;
}


.slider-container{
    position: relative;
    height: 400px;
}

.review{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 400px;
    width: 100%;
}





















/*-----------------section-private-villas--------------------*/



.private-villas-website-bgcontainer{
    position: relative;
}
.bg-website-privatevilla{
    height: 70vh; 
    width: 100%; 
    object-fit: cover; 
    object-position: center; 
    opacity: 1;
}
.privatevilla-video-header{
    position: absolute;
    top: 60%;
}
@media screen and (min-width:678px){
    .privatevilla-video-header{
        top: 55%;
    }    
}
.private-villas-website-heading{
    font-family: "roboto";
    color: white;
    font-size: 31px;
    position: relative;
    padding-left: 20px;
}
@media screen and (max-width: 991px) {
    .private-villas-website-heading{
        font-size: 23px;
        padding-left: 20px;       
   
    }
}

.private-villas-website-descripitive{
    color: #e9ecef;
    padding-left: 20px;
    font-family: "roboto";
    font-size: 16px;
}

.privatevillas-nav-website a{
    position: relative;
    display: block;
    transition: .5s;
}
.privatevillas-nav-website a::after{
    position: absolute;
    content: "";
    width: 100%;
    top: 100%;
    left: 0;
    transition: transform .5s;
    transform: scaleX(0);
    transform-origin: right;
}
.privatevillas-nav-website a:hover{
    border-bottom-color: rgb(177, 163, 236);
}
.privatevillas-nav-website a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}


.private-villas-about-container1{
    padding: 20px;
}
.private-villas-about-container2{
    padding: 20px;
}
.private-villas-about-container3{
    padding: 20px;
}
.about-villa-heading{
    font-size: 20px;
    font-weight: 700;
    font-family: "roboto"; 
}
.about-villa-paragraph{
    font-size: 17px;
    font-family: "roboto";
    height: 100%;
}
@media screen and (max-width: 766px) {
    .about-villa-paragraph{
        font-size: 18px;
        height: 100%;
    }
}
.private-villas-about-container1 .booknow-button-restaurant{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 0;
    font-size: 15px;
}
.private-villas-about-container1 .booknow-button-restaurant:hover{
    background-color: #444b51;
    color: #fff;
}
.private-villas-about-container2 .booknow-button-restaurant{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 0;
    font-size: 15px;
}
.private-villas-about-container2 .booknow-button-restaurant:hover{
    background-color: #444b51;
    color: #fff;
}
.private-villas-about-container3 .booknow-button-restaurant{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 0;
    font-size: 15px;
}
.private-villas-about-container3 .booknow-button-restaurant:hover{
    background-color: #444b51;
    color: #fff;
}
.about-image{
    width: 100%;
}
.about-image:hover{
    cursor: pointer;
    filter: brightness(0.8);
}
@media screen and (min-width: 992px) {
    .about-image{
        width: 100%;
        height: 46vh;
    }
}
.interior-image{
    background-image: url('../media/images/roominterior.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 81vh;
    width: 100%;
}
.interior-image:hover{
    cursor: pointer;
    filter: brightness(0.9);
}
@media screen and (min-width: 767px) {
    .interior-image{
        width: 100%;
        /* height: 51vh; */
        height: 100%;
    }
}
.interior-paragraph{
    color: #ffffff;
    font-size: 15px;
    font-family: "roboto";
    text-align: right;
    padding-right: 20px;
}
.interior-paragraph:hover{
    color: #fff;
    cursor: pointer;
    font-weight: 800;
    font-size: 20px;
}
@media screen and (min-width: 767px) {
    .interior-paragraph{
       font-size: 13px; 
    }
}
.interior-heading{
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
    font-family: "roboto";
    text-align: right;
    padding-right: 20px;
}
.interior-heading:hover{
    color: #fff;
    font-size: 35px;
}
.exterior-image{
    background-image: url("../media/images/exteriorimage.jpg");
    /* background: url("VID-20230422-WA0000.mp4"); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 81vh;
    width: 100%;
}
.exterior-image:hover{
    cursor: pointer;
    filter: brightness(0.8);
}
@media screen and (min-width: 767px) {
    .exterior-image{
        width: 100%;
        height: 100%;
    }
}
.at-resort-page-container{
    background-color: #ffffff;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 767px) {
    .at-resort-page-container{
        height: 100%;
    }
}
.at-resort-heading{
    text-align: center;
    font-family: "roboto";
    
}@media screen and (min-width: 767px) {
    .at-resort-heading{
        font-size: 28px; 
        padding-top: 5px;
    }
}

.at-resort-para{
    text-align: right;
    font-size: 16px;
}
@media screen and (min-width: 767px) {
    .at-resort-para{
        font-size: 20px; 
    }
}
.at-resort1{
    height: 25vh;
    width: 100%;
}
@media screen and (min-width: 995px) {
    .at-resort1{
        height: 35vh;
        width: 100%; 
    }
}
@media screen and (max-width: 994px) {
    .at-resort1{
        height: 30vh;
        width: 100%; 
    }
}
.at-resort2{
    height: 25vh;
    width: 100%;
}
@media screen and (min-width: 995px) {
    .at-resort2{
        height: 35vh;
        width: 100%; 
    }
}
@media screen and (max-width: 994px) {
    .at-resort2{
        height: 30vh;
        width: 100%; 
    }
}
.at-resort3{
    height: 25vh;
    width: 100%;
}
@media screen and (min-width: 995px) {
    .at-resort3{
        height: 35vh;
        width: 100%; 
    }
}
@media screen and (max-width: 994px) {
    .at-resort3{
        height: 30vh;
        width: 100%; 
    }
}
.other-villas{
    font-size: 38px;
    font-family: "roboto";
    font-weight: lighter;
    text-align: center;
}

.shadow{
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #6c757d;
}
.other-resort{
    width: 100%;
    padding: 20px 20px 0px 20px;
    height: 100%;
    border-radius: 10% 30% 50% 70%;
}
.other-resort:hover{
    cursor: pointer;
    filter: brightness(0.8);
}
.other-resort-heading{
    text-align: center;
    font-family: "roboto";
    font-size: 18px;
    font-weight: 700;
    padding-left: 13px;
    padding-right: 13px;
}
.shadow .other-resort-button{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    font-size: 14px;
    font-family: "roboto";
    margin: auto;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 0;
}
.shadow .other-resort-button:hover{
    background-color: #444b51;
    color: #fff;
}
.why-resort-heading{
    font-family: "roboto";
}
.why-resort-paragraph{
    color: #6c757d;
}

.resons-to-stay-container{
    border-style: solid;
    border-width: 1px;
    border-color: #6c757d;
    border-radius: 10px;
    height: 100%;
}
.reason-icon{
    font-size: 30px;
    color: #418ddf;
}
.reson-heading{
    font-family: "roboto";
    padding-top: 10px;
    font-size: 20px;
}
.reason-paragraph{
    color: #6c757d;
    font-size: 13px;
}
.villa-footer-container{
    background-color: #313335;
}
.footer-website-name{
    color: #ffffff;
    font-family: "roboto";
    font-size: 33px;
    padding-bottom: 27px;
}
.footer-names{
    color: #ffffff;
    font-family: "roboto";
    font-size: 19px;
    padding-bottom: 10px;
}
.footer-icon{
    padding-left: 10px;
}
.footer-website-name1{
    color: #ffffff;
    font-family: "roboto";
    font-size: 33px;
}
.footer-line{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* .private-villas-about-container1{
    transform: translate(-150%);
    animation: private-villas-about-container1-animation 2s ease-in-out forwards;
}
  
@keyframes private-villas-about-container1-animation {
    100% {
      transform: translate(0);
    }
}

.private-villas-about-container2 {
    padding: 30px;
    transform: translateX(150%);
    animation: private-villas-about-container2-animation 2s ease-in-out forwards;
}
  
@keyframes private-villas-about-container2-animation {
    100% {
      transform: translate(0);
    }
}
.private-villas-about-container3{
    transform: translate(-150%);
    animation: private-villas-about-container3-animation 2s ease-in-out forwards;
}
  
@keyframes private-villas-about-container3-animation {
    100% {
      transform: translate(0);
    }
} */

.about-image {
    /* padding: 30px; */
    transform: translateX(150%);
    animation: about-image-animation 2s ease-in-out forwards;
}
  
@keyframes about-image-animation {
    100% {
      transform: translate(0);
    }
}

.interior-image{
    padding: 30px;
    transform: translate(-150%);
    animation: interior-image-animation 2s ease-in-out forwards;
}
  
@keyframes interior-image-animation {
    100% {
      transform: translate(0);
    }
}

.exterior-image {
    /* padding: 30px; */
    transform: translateX(150%);
    animation: exterior-image-animation 2s ease-in-out forwards;
}
  
@keyframes exterior-image-animation {
    100% {
      transform: translate(0);
    }
}






















/* ---------restaurant-------- */



.restaurant-website-bgcontainer{
    position: relative;
  }
.restaurant-website-heading{
    font-family: "Goudy Old Style";
    padding-right: 20px;
    color: #fff;
}
.restaurant-website-descripitive{
    font-family: "Goudy Old Style";
    padding-right: 20px;
    color: #fff;
    font-size: 20px;
}
.bg-website-restaurant{
    height: 70vh; 
    width: 100%; 
    object-fit: cover; 
    object-position: center center; 
    opacity: 1;
}
.restaurant-video-header{
    position: absolute;
    top: 60%;
}
@media screen and (min-width:678px){
    .restaurant-video-header{
        top: 55%;
    }
}
.page-website-items{
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color:#ffffff;
}
.restaurant-nav-website a{
    position: relative;
    display: block;
    transition: .5s;
}
.restaurant-nav-website a::after{
    position: absolute;
    content: "";
    width: 100%;
    top: 100%;
    left: 0;
    transition: transform .5s;
    transform: scaleX(0);
    transform-origin: right;
}
.restaurant-nav-website a:hover{
    border-bottom-color: rgb(236, 184, 163);
}
.restaurant-nav-website a.active{
    border-bottom-color: rgb(236, 184, 163);
}
.restaurant-nav-website a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.about-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
}
  
.restaurant-about-heading{
    font-size: 20px;
} 
@media screen and (min-width:1200px) {
    .restaurant-about-heading{
        font-size: 35px;
    }
}
.restaurant-about-paragraph{
    font-size: 16px;
    color: #666;
    font-weight: 600;
}
@media screen and (min-width:1200px) {
    .restaurant-about-paragraph{
        font-size: 20px;
    }
}
  
.about-img {
    padding: 30px;
    transform: translateX(150%);
    animation: about-img-animation 1s ease-in-out forwards;
}
  
@keyframes about-img-animation {
    100% {
      transform: translate(0);
    }
}

.about-text {
    padding: 30px;
    transform: translate(-150%);
    animation: about-text-animation 1s ease-in-out forwards;
}
  
@keyframes about-text-animation {
    100% {
      transform: translate(0);
    }
}
.about-img img {
    display: block;
    height: 400px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: right;
}

 
.type-of-menu{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #555;
}

.food-container {
    display: flex;
    flex-wrap: wrap;
}
  
.type-of-menu-image{
    display: block;
    width: 100%;
    margin: auto;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}
@media screen and (max-width:576px){
    .type-of-menu-image{
        height: 50vh;
    }
}
@media screen and (max-width:768px){
    .type-of-menu-image{
        height: 50vh;
    }
}
@media screen and (max-width:992px){
    .type-of-menu-image{
        height: 50vh;
    }
}
  
.img-container {
    margin: 0 1rem;
    position: relative;
}
  
.img-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition: all 0.3s ease-in-out 0.1s;
}
  
.type-of-menu-heading{
    color: #fff;
    font-size: 1.5rem;
}
  
.img-content a {
    font-size: 1.2rem;
}
  
  .img-container::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    opacity: 0;
    z-index: 1;
  
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
  }
  
  .img-container:hover::after {
    opacity: 1;
    transform: scaleY(1);
  }
  
  .img-container:hover .img-content {
    opacity: 1;
    top: 40%;
  }


.food-menu-heading {
    text-align: center;
    font-size: 3.4rem;
    font-weight: 400;
    color: #666;
} 
.food-menu-container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 30px 0px;
}
.food-menu-container img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}  
.food-menu-item {
    display: flex;
    flex: 1 1 600px;
    justify-content: space-evenly;
    margin-bottom: 3rem;
} 
.food-description {
    margin: auto 1.5rem;
}
  
.font-title {
    font-weight: 400;
    color: #444;
}
  
.food-description p {
    color: #555;
    font-weight: 500;
}
  
.food-description .food-price {
    color: #117964;
    font-weight: 700;
}


.customer-say{
    padding: 10px 0;
    /* background: #f8f9fa; */
}
  
.customer-say-title{
    text-align: center;
    font-size: 44px;
    font-weight: 400;
    color: black;
}
  
.customer-container{
    display: flex;
    flex-wrap: wrap;
    font-size: 22px;
    padding: 16px;
}
.customer-box{
    text-align: center;
    padding: 16px;
    border-style: solid;
    border-width: 0.5px;
    border-color: black;
    height: 100%;
    background-color: #fff;
    border-radius: 0px;
}
.customer-box:hover{
    filter: drop-shadow(2px 4px 6px black);
    cursor: pointer;
}
.checked{
    color: #ff9529;
}
.customer-review{
    margin: 4px 0;
    color: #444;
    font-size: 20px;
}
.customer-image{
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: auto;
}
#contact {
    padding: 5rem 0;
    background: #e9ecef78;
  }
  
  .contact-container {
    display: flex;
    background: #fff;
  }
  
  .contact-img {
    width: 50%;
  }
  
  .contact-img img {
    display: block;
    height: 400px;
    width: 100%;
    object-position: center;
    object-fit: cover;
  }
  
  .form-container {
    padding: 1rem;
    width: 50%;
    margin: auto;
  }
  
  .form-container input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 1rem 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 500;
  }
  
  .form-container textarea {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    color: #444;
    outline: none;
    padding: 1rem 0;
    resize: none;
  }
  
  .form-container h2 {
    font-size: 2.7rem;
    font-weight: 500;
    color: #444;
    margin-bottom: 1rem;
    margin-top: -1.2rem;
  }
  
  .form-container a {
    font-size: 1.3rem;
  }
  
  .items-list-image{
    width: 100%;
    height: 70vh;
    background-image: url("../media/images/pexels-gary-barnes-6231587.jpg");
    background-size: cover;
    background-position: 50% 50%;
}
@media screen and (min-width:1200px){
    .items-list-image{
        height: 50vh;
    }
}
.bg-container {
    background: #f1f5f8;
}
.button {
    background-color: #dae2ec;
    font-family: "Roboto";
    font-size: 18px;
    width: 33%;
    border-width: 0;
    border-radius: 8px;
}
.tabs-container {
    background-color: white;
    border-radius: 8px;
}
.tab-content {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 15px;
}
.restaurant-list{
    list-style-type: none;
}
.selected-button {
    background-color: white;
}

















/* -------login------ */

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 6px;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(180deg, #6d7b80f2,transparent);
}

.card-bottom{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);

}

.card-body{
    flex:1 1 auto;
}
.form-heading{
    font-size: 30px;
    font-family: "jakarta Sans";
}
.login-button{
    display: grid;
    place-items: center;
}
.forgot-password{
    display: flex;
    justify-content: center;
}

.sign-up-account{
    font-family: "roboto";
    font-size: 17px;
}
.sign-up{
    padding-left: 7px;
}
.left-login-image{
    background-image: url("../media/images/signup-Img.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 81vh;
    width: 100%;
    background-position: 81% 50%;
    margin-top: 30px;
}
@media screen and (min-width:768px) {
    .left-login-image{
        height: 30vh;
    }
}
@media screen and (min-width:992px) {
    .left-login-image{
        height: 40vh;
    }
}
@media screen and (min-width:1200px) {
    .left-login-image{
        height: 50vh;
    }
}
.error-message{
    color: red;
}

















































/* ---------#event.html-------------- */



.bg-container-event{
    background-image: url("../media/images/pexels-rahul-pandit-1652361.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.nav-event{
    font-size: 22px;
    color: #ffffff;
}
.bg-container-event .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.bg-container-event .container h1{
    color: #fff;
    font-weight: 400;
}
@media screen and (max-width:770px) {
    .bg-container-event .container h1{
        font-size:28px;
        font-weight: 600;
    }
}
.bg-container-event .container h3{
    color: #fff;
    font-size: 60px;
    font-weight: bold;
}
@media screen and (max-width:770px) {
    .bg-container-event .container h3{
        font-size: 40px;
    }
}
.bg-container-event .bg-light{
    background-color: #000509!important;
}
.what-we-do-button {
    padding: 16px;
    background-color: #fff;
    margin-top: 30px;
    border-radius: 0px;
    color: #57685d;
    text-decoration: none;
    margin-bottom: 300px;
}
.what-we-do-button:hover{
    background-color: transparent;
    border: solid 2px #fff;
    color: #fff;
}



/* ------------#service.html------------- */



.our-service-event{
    padding-top: 0px;
    padding-bottom: 25px;
    color: #fff;
}
.service-transparent-container{
    background-color: #87807a54;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
@media screen and (min-width:768px) {
    .service-transparent-container{
        flex-direction: row;
    }
}
.service-img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 25px;
}
.service-image{
    height: 30vh;
    width: 100%;
}
@media screen and (min-width:768px) {
    .event-details-ht{
        height: 30vh;
    }
}
.live-events{
    color: whitesmoke;
    font-family: emoji;
    font-size: xx-large;
}
.about-event{
    color: whitesmoke;
    text-align: center;
}

.planning-next-event-container{
    background-color: #e4e44d;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.planning-next-event-container h1{
    font-weight: bolder;
    font-size: 50px;
}
.see-our-events{
    border-style: solid;
    border-width: 1px;
    border-color: #313335;
    border-radius: 0px;
    color: #000509;
    font-weight: 600;
    padding: 10px;
    text-decoration: none;
}
.see-our-events:hover{
    background-color: #000509;
    color: yellow;
}
.lets-talk{
    background-color: #000509;
    color: #e4e44d;
    border-radius: 0px;
    padding: 10px;
    text-decoration: none;
}
.lets-talk:hover{
    background-color: #e4e44d;
    color: #000509;
    border: solid 1px black;
}



/* --------------about.html--------------------------- */



.about-event-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.descriptive-about-event{
    font-weight: bolder;
    font-size: 40px;
    color: #cfcf0e;
    text-align: center;
}
.paragraph-about-event{
    color: #fff;
    text-align: center;
    font-size: 17px;
    font-weight: 600;

}
.about-photos-container{
    background-color: #87807aad;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.our-team{
    font-family: "roboto";
    font-weight: bolder;
    color: yellow;
    text-align: center;
}
.photo-name-container{
    display: flex;
}
@media screen and (max-width:768px) {
    .photo-name-container{
        display: flex;
        flex-direction:column;
    }
}
.photo-name-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.siddharth-photo{
    width: 100%; 
    height: 433px; 
    object-fit: cover;
}
.Dishapatani-photo{
    width: 100%; 
    height: 433px; 
    object-fit: cover;
}
.photo-name-1 h1{
    padding: 15px;
    font-family: "roboto";
    color: yellow;
}
.photo-name-1 p{
    color: #fff;
    text-align: center;
}
.photo-name-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo-name-2 h1{
    padding: 15px;
    font-family: "roboto";
    color: yellow;
}
.photo-name-2 p{
    color: #fff;
    text-align: center;
}
.lets-talk1{
    background-color: yellow;
    color: black;
    border-radius: 0px;
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
    margin-inline: auto;
}
.lets-talk1:hover{
    background-color: black;
    color: yellow;
}
.event-gallery{
    color: yellow;
    text-align: center;
    font-weight: bolder;
    padding-top: 60px;
    padding-bottom: 60px;
}
.gallery-container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1px;
    row-gap: 10px;
    justify-content: center;
}
.what-they-are-saying-container{
    background-color: yellow;
    height: 70vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-weight: bolder;
}



/* ------------------contact.html----------------------- */



.contact-us-event{
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: bolder;
    font-size: xxx-large;
    text-align: center;
}
.plan-tour-event-container{
    background-color: #87807aad;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plan-tour-event-container h1{
    color: yellow;
    font-size: xxx-large;
    font-weight: bolder;
    text-align: center;
}
.contact-event-details{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 20px;
}
@media screen and (max-width:768px){
    .contact-event-details{
        flex-direction: column;
    }
}
.each-contact-event-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-event-details h1{
    font-size: medium;
}
.contact-event-details p{
    color: #fff;
    font-weight: 600;
}
.event_input{
    width: 40vh;
    height: 6vh; 
    background-color: transparent;
    border: solid 2px #fff;
    color: #fff;
    padding: 5px;
}
@media screen and (min-width:768px){
    .event_input{
        width: 50vh;
    }
}
.event_input:focus{
    outline-color: transparent;
}
.leave-us-a-message{
    background-color: transparent;
    border:2px solid #fff;
    width: 80vh;
    color: #fff;
    padding: 5px;
}
.leave-us-a-message{
   outline-color: transparent;
}
@media screen and (max-width:768px){
    .leave-us-a-message{
        width: 40vh;
    }
}
.contact-event-details label{
    color: #fff;
    font-weight: bold;
}






























/* -------------tour-Home------------ */



.tour-bg-website{
    height: 75vh;
    width: 100%; 
    object-fit: cover; 
    object-position: center center; 
    opacity: 1;
    filter: brightness(0.6);
}
.tour-video-container{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.welcome-tour-heading{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
}
@media screen and (min-width:1028px) {
    .welcome-tour-heading{
        top: 31%;
    }
}
@media screen and (max-width:1027px) {
    .welcome-tour-heading{
        top: 31%;
    }
}
 @media screen and (max-width:473px) {
    .welcome-tour-heading{
        font-size: 30px;
    }
}
@media screen and (max-width:290px) {
    .welcome-tour-heading{
        top: 30%;
    }
}

.welcome-tour-paragraph{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
@media screen and (min-width:1028px) {
    .welcome-tour-paragraph{
        top: 45%;
    }
}
@media screen and (max-width:1027px) {
    .welcome-tour-paragraph{
        top: 49%;
    }
}
.book-trail-button{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 0px;
}
.book-trail-button:hover{
    background-color: transparent;
    color: #fff;
    border: solid 1px #fff;
}
@media screen and (min-width:1028px) {
    .book-trail-button{
        top: 70%;
    }
}
@media screen and (max-width:1027px) {
    .book-trail-button{
        top: 70%;
    }
}
@media screen and (max-width:290px) {
    .book-trail-button{
        top: 80%;
    }
}
.our-trails-container{
    background-color: #000509;
    height: 100%;
    padding: 15px;
}
@media screen and (min-width:768px) {
    .our-trails-container{
        height: 883px;
    }
}
.our-trails{
    color: #fff;
    text-align: left;
    padding: 25px;
}
.sub-our-trail-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.our-trail-heading{
    color: #fff;
    font-size: 23px;
}
.hr-line-trail{
    color: #212529;
    border: solid 1px;
    width: 100%;
}
.our-trail-heading1{
    color: #fff;
    font-size: 18px;
}
.our-trail-paragraph{
    color: #fff;
}
.sub-our-trail-container .btn{
    border-radius: 0px;
}
.trail-container-box{
    display: flex;
    flex-direction: column;
}
.trail-container-box-foo{
    display: flex;
    flex-direction: column;
}
@media screen and (min-width:768px) {
    .trail-container-box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
@media screen and (min-width:768px) {
    .main-box-trail-container{
        display: flex;
        justify-content: center;
        margin-top: -70px;
    }
}
@media screen and (min-width:768px) {
    .main-box-trail-container1{
        display: flex;
        justify-content: center;
        
    }
}
.our-trails-image{
    width: 100%; 
    height: 500px; 
    object-fit: cover; 
    object-position: 50% 50%;
}
.our-trails-image1{
    width: 100%; 
    height: 500px; 
    object-fit: cover; 
    object-position: 50% 50%;
}
@media screen and (min-width:768px) {
    .our-trails-image{
        height: 883px; 
    }
}
@media screen and (min-width:768px) {
    .our-trails-image1{
        height: 370px; 
    }
}
@media screen and (min-width:768px) {
    .absolue-trail-container{
        position: relative;
    }
}
.winter-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media screen and (min-width:768px) {
    .sub-winter-info-container{
        display: flex;
        flex-direction: row;
    }
}
.winter-info-container h1{
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 20px;
}
@media screen and (min-width:768px) {
    .winter-info-container h1{
        font-size: 60px;
    }
}
.winter-info-container p{
    padding: 15px;
}
.winter-info-container h2{
    color: #212529;
    font-family: auto;
    font-size: 25px;
    padding-top: 10px;
}
.winter-info-container .btn{
    border-radius: 0px;
    border: solid 1px #212529;
}

.peak-experience-container{
    background-color: #313335;
    height: 100%;
    padding: 50px;
}
@media screen and (min-width:768px) {
    .peak-experience-container{
        height: 370px;
    }
}
.peak-experience-container h1{
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding-bottom: 15px;
}

/* ----------scroler_carousel-------------- */

.slider-container {
    position: relative;
    overflow: hidden;
    height: 210px;
  }
  
  .slider {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .slide.active {
    opacity: 1;
  }
  
  .slide h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 400;
  }
  
  .slide p {
    /* font-size: 18px; */
    line-height: 1.5;
    max-width: 600px;
    color: #ced4da;
  }
  
  .slider-nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .slider-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .slider-button:focus {
    outline: none;
  }
  
  #prev {
    float: left;
    color: red;
  }
  
  #next {
    float: right;
    color: red;
  }
  

.Sleet-news-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media screen and (min-width:768px) {
    .sub-sleet-news-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
.tour-learn-more-btn:hover{
    background-color: #000509;
    color: #fff;
}
.Sleet-news-container h1{
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 20px;
}
@media screen and (min-width:768px) {
    .Sleet-news-container h1{
        font-size: 60px;
    }
}
.Sleet-news-container p{
    padding: 15px;
}

.sleet-news-image{
    width: 100%;
    /* height: 40vh; */
}
.sleet-image-bottom-container{
    height: 15vh;
    background-color: #000509;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.sleet-image-bottom-container a{
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.sleet-image-bottom-container span{
    color: #fff;
    cursor: pointer;
}

.sleet-image-bottom-container span:hover {
    color: red;
}
.Sleet-news-container .btn{
    border-radius: 0px;
    border: solid 1px #212529;
}



/* ----------------aboutsheet1.html------------------ */



@media screen and (min-width:768px) {
    .about-sheet1-container{
        padding: 20px;
        border: solid 1px #ced4da;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.about-sheet1-container{
    padding: 15px;
}

.aboutsleet1-nav .navbar-brand{
    color: #000509;
}
.aboutsleet1-nav .navbar-brand:hover{
    color:red;
    cursor: pointer;
}

.left-border-sheet1-p{
    border-left: solid 3px red;
    padding: 20px;
    color: red;
    font-size: x-large;
    font-style: italic;
    font-weight: 500;
}

.about-sheet1-container h1{
    color: #000509;
    font-weight: bold;
    padding-top: 10vh;
    padding-bottom: 15px;
}
.about-sheet1-container h3{
    color: #000509;
    font-weight: 600;
    padding-top: 5vh;
    padding-bottom: 20px;
    font-size: 22px;
    font-family: sans-serif;
}
.about-sheet1-container p{
    font-size: 17px;
}
.recent-post-heading{
    font-size: 25px;
    color: #000509;
}
.see-all-para{
    color: #000509;
    text-decoration: none;
}
.see-all-para:hover{
    color: red;
    cursor: pointer;
    text-decoration: none;
}
@media screen and (min-width:768px) {
    .extra-post-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }    
}
.extra-post-container{
    display: flex;
    overflow-y: auto;
}   


.tour-trail-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.trail-image-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width:768px) {
    .trail-image-box{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
.trail-image-box img:hover{
    filter: brightness(0.5);
    cursor: pointer;
}
.trail-img-box-trail{
    padding: 20px;
    background-color: #e9ecef;
    height: 100%;
}
.trail-img-box-trail h1{
    font-size: 20px;
}
.trail-img-box-trail h3{
    font-size: 16px;
    color: #495057;
    font-weight: 400;
}
.trail-img-box-trail p{
    font-size: 16px;
    color: #495057;
    font-weight: 400;
}
.trail-img-box-trail a{
    border-radius: 0px;
}
.tour-trail-container h1{
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 20px;
}
@media screen and (min-width:768px) {
    .tour-trail-container h1{
        font-size: 60px;
    }
}

.tour-about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.when-snow-falls-container{
    background-color: #000509;
    height: 100%;
    padding: 30px;
    text-align: center;
}
@media screen and (min-width:768px) {
    .when-snow-falls-container{
        height: 600px;
        padding: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}
.when-snow-falls-container h1{
    color: #fff;
    font-size: 20px;
    font-weight: bold;

}
.when-snow-falls-container p{
    color: #fff;
}
.adven-exper-container{
    padding: 30px;
    text-align: center;
    height: 100%;
}
@media screen and (min-width:768px) {
    .adven-exper-container{
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.adven-exper-container h1{
    color: #000509;
    font-size: 20px;
    font-weight: bold;
}
.adven-exper-container p{
    color: #000509;
}
.tour-container-adven{
    display: flex;
    flex-direction: column;
}
@media screen and (min-width:768px) {
    .tour-container-adven{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
.about-tour-img1{
    width: 100%;
    object-fit: cover; 
    object-position: 50% 100%;
}
@media screen and (min-width:768px){
    .about-tour-img1{
        height: 600px;
    }  
}
.about-tour-img2{
    width: 100%;
    object-fit: cover; 
    object-position: 50% 100%;
}
@media screen and (min-width:768px){
    .about-tour-img2{
        height: 400px;
    }  
}
.about-tour-img3{
    width: 100%;
    object-fit: cover; 
    object-position: 50% 100%;
}
@media screen and (min-width:768px){
    .about-tour-img3{
        height: 400px;
    }  
}

.tour-about-gallery{
    height: 30vh;
    width: 100%;
    padding: 0;
    padding-bottom: 15px;
}
.tour-about-gallery:hover{
    filter: brightness(0.5);
    cursor: pointer;
}
.tour-contact-container{
    background-color: #0b0202fc;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    align-items: center;
}
@media screen and (min-width:768px) {
    .tour-contact-container{
        align-items: normal;
    }
}
.tour-contact-container h1{
    color: red;
    font-weight: bold;
    font-size: 25px;
}
@media screen and (min-width:768px) {
    .tour-contact-container h1{
        font-size: 40px;
    }
}
.tour-contact-container p{
    color: #fff;
    font-size: 15px;
    text-align: center;
}
@media screen and (min-width:768px) {
    .tour-contact-container p{
        font-size: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
.tour-contact-details{
    background-color: transparent;
    border: solid 0px transparent;
    border-bottom: solid 1px #fff;
    color: #fff;
    width: 40vh;
}
@media screen and (min-width:768px) {
    .tour-contact-details{
        width: 130%;
    }
}
.tour-contact-details:hover{
    background-color: transparent;
    border: solid 0px transparent;
    border-bottom: solid 1px greenyellow;
}
.tour-contact-details:focus{
    outline: 0;
}
.tour-contact-details1{
    background-color: transparent;
    border: solid 0px transparent;
    border-bottom: solid 1px #fff;
    color: #fff;
    width: 40vh;
}
@media screen and (min-width:768px) {
    .tour-contact-details1{
        width: 100%;
    }
}
.tour-contact-details1:hover{
    background-color: transparent;
    border: solid 0px transparent;
    border-bottom: solid 1px greenyellow;
}
.tour-contact-details1:focus{
    outline: 0;
}
@media screen and (min-width:768px){
    .tour-contact-main-box{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}
.tour-contact-each-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* text-align: left; */
}
.tour-contact-each-box label{
    color: #fff;
    font-weight: 200;
    text-align: left;
}

@media screen and (min-width:768px){
    .tour-contact-submit-btn{
        width: 30vh;
        margin-inline: auto;
    }
}

.tour-contact-bg-img{
    background-image: url("../media/images/pexels-arina-krasnikova-6012796.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}