.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 6px;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(180deg, #6d7b80f2,transparent);
}

.card-bottom{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);

}

.card-body{
    flex:1 1 auto;
}
.form-heading{
    font-size: 30px;
    font-family: "jakarta Sans";
}
.login-button{
    display: grid;
    place-items: center;
}
.forgot-password{
    display: flex;
    justify-content: center;
}

.sign-up-account{
    font-family: "roboto";
    font-size: 17px;
}
.sign-up{
    padding-left: 7px;
}
.left-login-image{
    background-image: url("../media/images/signup-Img.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 81vh;
    width: 100%;
    background-position: 81% 50%;
    margin-top: 30px;
}
@media screen and (min-width:768px) {
    .left-login-image{
        height: 30vh;
    }
}
@media screen and (min-width:992px) {
    .left-login-image{
        height: 40vh;
    }
}
@media screen and (min-width:1200px) {
    .left-login-image{
        height: 50vh;
    }
}
.error-message{
    color: red;
}
