
.container-fluid{
    max-width: 1440px;
}
.login-logo{
    padding-left: 5px;
}
.page-website .dropdown .btn{
    --bs-btn-color:#6c757d(!important);
    --bs-btn-bg:#fff (!important);
    --bs-btn-border-color:#fff(!important);
    --bs-btn-hover-border-color:#fff (!important);
    --bs-btn-border-width:0px (!important);
    color: #495057b0;
    padding-top: 8px;
    text-align: left;
}
.page-website .dropdown .btn:hover{
    box-shadow: 0 0 0 0.2rem #ffffff;
    border-color: transparent;
}
.page-website .dropdown .dropdown-menu-dark{
    --bs-dropdown-color: #fff (!important);
    --bs-dropdown-bg: #fff (!important);
    --bs-dropdown-border-color: #ced4da (!important);
    --bs-dropdown-box-shadow: 0 0 0 0.2rem #ffffff(!important);
    --bs-dropdown-link-color: #212529 (!important);
    --bs-dropdown-link-hover-color: #212529 (!important);
    --bs-dropdown-divider-bg: #dee2e6 (!important);
    --bs-dropdown-link-hover-bg: rgba(255, 255, 255, 0.15) (!important);
    --bs-dropdown-link-active-color: #fff (!important);
    --bs-dropdown-link-active-bg: #fff (!important);
    --bs-dropdown-link-disabled-color: #fff (!important);
    --bs-dropdown-header-color: #fff (!important);
    background-color: white;
    border-color: transparent;
}

.dropdown-divider{
    border: 1.5px solid #e9ecef;
}



.page-website-items{
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color:#ffffff;
}

.page-website a{
    position: relative;
    display: block;
    transition: .5s;
}
.page-website a::after{
    position: absolute;
    content: "";
    width: 100%;
    top: 100%;
    left: 0;
    transition: transform .5s;
    transform: scaleX(0);
    transform-origin: right;
}
.page-website a:hover{
    border-bottom-color: rgb(177, 163, 236);
}
.page-website a.active{
    border-bottom-color: rgb(177, 163, 236);
}
.page-website a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}



/* ____________restaurant-nav-website____________ */

@media screen and (max-width:1540px){
    .restaurant-video-header > .container-fluid{
        max-width: 100%;
    }
}
.website-restaurant-video{
    height: 65vh; 
    width: 100%; 
    object-fit: cover; 
    object-position: center center; 
    opacity: 1;
}
.restaurant-website-heading{
    font-family: "Goudy Old Style";
    color: #fff;
}
.restaurant-website-descripitive{
    font-family: "Goudy Old Style";
    color: #fff;
    font-size: 20px;
}
.header-name-on-video{
    position: absolute;
    padding-left: 20px;
}
@media screen and (min-width:678px){
    .header-name-on-video{
        top: 55%;
    }
}
@media screen and (max-width:677px){
    .header-name-on-video{
        top: 60%;
    }
}

/*___________rail-text____________ */

.about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-text {
    padding: 30px;
    transform: translate(-150%);
    animation: about-text-animation 1s ease-in-out forwards;
}
@keyframes about-text-animation {
    100% {
      transform: translate(0);
    }
}
.restaurant-about-paragraph{
    font-size: 16px;
    color: #666;
    font-weight: 600;
}
@media screen and (min-width:1200px) {
    .restaurant-about-paragraph{
        font-size: 18px;
    }
}
.restaurant-about-heading{
    font-size: 20px;
} 
@media screen and (min-width:1200px) {
    .restaurant-about-heading{
        font-size: 30px;
    }
}
.about-img {
    padding: 30px;
    transform: translateX(150%);
    animation: about-img-animation 1s ease-in-out forwards;
}
  
@keyframes about-img-animation {
    100% {
      transform: translate(0);
    }
}
.about-img img {
    display: block;
    height: 300px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
}
.about-img img:hover{
    cursor: pointer;
    filter: brightness(0.8);
}

/* ________card-dec___________ */


.type-of-menu{
    text-align: center;
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #555;
}
.food-container {
    display: flex;
    flex-direction: row;
}
@media screen and (max-width:767px) {
    .food-container{
        flex-direction: column;
    }
}
.img-container {
    margin: 0 1rem;
    position: relative;
}
.img-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    opacity: 0;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
}
.img-container:hover::after {
    opacity: 1;
    transform: scaleY(1);
}
  
.img-container:hover .img-content {
    opacity: 1;
    top: 40%;
}
.type-of-menu-image{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}
@media screen and (max-width:992px){
    .type-of-menu-image{
        height: 50vh;
    }
}
.img-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition: all 0.3s ease-in-out 0.1s;
} 
.type-of-menu-heading{
    color: #fff;
    font-size: 24px;
}
.img-container a{
    color: #fff;
    border-radius: 0px;
    border: solid 1px #fff;
}
.img-container a:hover{
    background-color: #ced675;
    color: black;
}

.food-menu-heading {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #555;
} 
.food-menu-container{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 30px 0px;
}
.food-menu-item{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
.food-menu-item img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.food-description {
    margin: auto 1.5rem;
}  
.food-title {
    font-weight: 400;
    color: #444;
}
.food-description p {
    color: #555;
    font-weight: 500;
}  
.food-description .food-price {
    color: #117964;
    font-weight: 700;
}
.container-list-box{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width:767px){
    .container-list-box{
        flex-direction: column;
    }
}
.items-list-image{
    max-height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.container-list-box button {
    width: 33%;
    font-weight: bold;
    border-radius: 5px;
    border: solid 1px #adb5bd;
    text-align: center;
}
.tabs-container {
    background-color: white;
}
.tab-content {
    color: #555;
    font-weight: 500;
    font-size: 15px;
}
.restaurant-list{
    list-style-type: none;
}
.selected-button{
    background-color:#2e2c2c;
    color: #afa670;
}
.customer-say{
    padding: 10px 0;
}
.customer-say-title{
    text-align: center;
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #555;
}
.customer-container{
    display: flex;
    flex-wrap: wrap;
    font-size: 22px;
    padding: 16px;
}
.customer-box{
    text-align: center;
    padding: 16px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #adb5bd;
    height: 100%;
    background-color: #fff;
    border-radius: 0px;
}
.customer-box:hover{
    filter: drop-shadow(2px 4px 6px black);
    cursor: pointer;
}
.checked{
    color: #ff9529;
}
.customer-review{
    margin: 4px 0;
    font-size: 16px;
    color: #666;
    font-weight: 600;
}
.customer-image{
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: auto;
}
#contact {
    padding: 5rem 0;
    background: #e9ecef78;
  }
  
  .contact-container {
    display: flex;
    background: #fff;
  }
  
  .contact-img {
    width: 50%;
  }
  
  .contact-img img {
    display: block;
    height: 400px;
    width: 100%;
    object-position: center;
    object-fit: cover;
  }
  
  .form-container {
    padding: 1rem;
    width: 50%;
    margin: auto;
  }
  
  .form-container input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 1rem 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 500;
  }
  
  .form-container textarea {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    color: #444;
    outline: none;
    padding: 1rem 0;
    resize: none;
  }
  
  .form-container h2 {
    font-size: 2.7rem;
    font-weight: 500;
    color: #444;
    margin-bottom: 1rem;
    margin-top: -1.2rem;
  }
  
  .form-container a {
    font-size: 1.3rem;
  }
 


/* ----------footer------------ */



.main-footer-bg-container{
    width: 100%;
    height: 100%;
    background-color: #0a0a1f;
}
.footer-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-right: calc((100% - 1110px) / 2);
    padding-left: calc((100% - 1110px) / 2);
}
@media screen and (max-width:767px){
    .footer-container{
        display: flex;
        flex-direction: column;
    }    
}
.footer-dec1{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "FedraSansStd-medium",sans-serif;
    font-size: .75em;
    font-weight: 700;
    color: #8ddde3;
    letter-spacing: .2px;
}
.footer-dec2{
    display: flex;
    flex-direction: column;
}
.footer-dec2 h1{
    width: 100%;
    font-family: "FedraSansStd-book",sans-serif;
    font-size: .875em;
    font-weight: normal;
    color: #fff;
}
.mapicon-container{
    display: flex;
    flex-direction: row;
}
.mapicon{
    color: #fff;
}
.mapicon-container .addressE1{
    width: 100%;
    font-family: "FedraSansStd-medium",sans-serif;
    font-size: .75em;
    color: #fff;
    padding-top: 5px;
    font-weight: 600;
}
.address-list{
    width: 80%;
    margin-top: 5px;
    font-family: "FedraSansStd-book",sans-serif;
    font-size: .79em;
    font-weight: normal;
    color: #fff;
    font-style: normal;
}
.address-list p{
    margin-bottom: 9px;
}
.adress-decoration{
    text-decoration: underline;
}
.whatsapp-box{
    display: flex;
    flex-direction: row;
} 
.whatsapp-box .whatapp-text{
    width: 100%;
    font-family: "FedraSansStd-medium",sans-serif;
    /* font-size: .75em; */
    color: #fff;
    padding-top: 5px;
    font-weight: 600;
}
.whatsapp-box p{
    color: #fff;
    font-size: .79em;
}
.phone-box{
    display: flex;
    flex-direction: column;
}
.phone-box .callicon{
    color: #fff;
    display: flex;
    flex-direction: row;
}
.callicon .phone-icon{
    width: 100%;
    font-family: "FedraSansStd-medium",sans-serif;
    /* padding-top: 5px; */
    font-weight: 600;
    color: #fff;
}
.phone-box p{
    color: #fff;
    font-size: .79em;
    font-weight: normal;
    font-style: normal;
}
.app-icon-container{
    display: flex;
    flex-direction: row;
}
.app-icon{
    color: #fff;
}
.socail-media-app-container{
    display: flex;
    flex-direction: column;
}
.socail-media-app-container h1{
    width: 100%;
    font-family: "FedraSansStd-book",sans-serif;
    font-size: .875em;
    font-weight: normal;
    color: #fff;
}
.media-app-list{
    display: flex;
    flex-direction: row;
}
.media-app{
    color: #fff;
}
.bottom-footer-container{
    width: 100%;
    border-top: solid 2px rgba(255,255,255,.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width:768px){
    .bottom-footer-container{
        display: flex;
        flex-direction: row;
        padding-right: calc((100% - 1110px) / 2);
        padding-left: calc((100% - 1110px) / 2);
    }
}
.bottom-footer-container p{
    font-family: "FedraSansStd-medium",sans-serif;
    font-size: .75em;
    font-weight: 700;
    color: #8ddde3;
    letter-spacing: .2px;
    text-align: center;
}
@media screen and (min-width:768px){
    .bottom-footer-container p{
        margin-right: 50px;
    }
}